.resultSection {
    display: flex;
    flex-direction: row;
}
.container{
    width: 100vw;
    display:flex;
    background-color:black;
    color:goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
